.content-form{
    color: black;
    height: 100%;
    user-select: text;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}
.info-form {
  font-size: 17px;
  list-style-type: none;
  height: 100%;
  width: 100%;
  user-select: text;
}

.whole-form{
    background-color: darkgray;
    display: flex;
    width: 100%;
    height: 100%;
    user-select: text;
    justify-content: space-between;
}
.kr{
  background-color: darkgray;
  display: grid;
  margin: 0px 20px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  user-select: text;
}
.add-form{
    margin-right: 15vh;
    justify-content: space-between;
    background-color:darkgray;
    user-select: text;
}
input[type="text"],
  input[type="password"] {
    height: 40px;
    width: 20vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    user-select: text;
  }
  
  input[type="submit"] {
    width: 20vh;
    height:60px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
    user-select: text;
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
    user-select: text;
  }